@page 
@model ReceptHemsida.Pages.RecipeDetailsModel
@{
	ViewData["Title"] = "Recipe Details";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h2>@Model.Recipe.Title</h2>
<div class="recipe-details">
	<img src="@Model.Recipe.ImageUrl" alt="@Model.Recipe.Title" class="recipe-img"/>
	<div class="recipe-meta">
		<span>@Model.Recipe.CookTime min</span>
		<span>@Model.Recipe.Difficulty</span>
	</div>
	<p>@Model.Recipe.Description</p>

	<h3>Instructions:</h3>
	<ol class="recipe-instructions">
		@foreach (var step in Model.Recipe.Instructions.Select((text, index) => new { text, index }).ToList())
		{
			<li>
				<span class="step-number">@(@step.index + 1).</span>
				<p>@step.text</p>
			</li>
		}
	</ol>

</div>

